@import url('theme.css');

body {
    pre.literal-block {
        font-family: 'Source Code Variable Regular','Lucida Console','Consolas','monospace','Courier New','Monaco','SFMono-Regular';
        font-size: 16px;
        line-height: 1.4;
    }
}
