@import 'theme.css';

.rst-content pre.literal-block {
	font-family:'Source Code Variable Regular','Lucida Console','Consolas','SFMono-Regular','Menlo','Monaco','Liberation Mono','Courier New','Courier','monospace';
    font-size:16px;
    line-height:1.4;
}
